<div class="container">
  <app-header></app-header>
  <section class="section-card">
    <app-file-import></app-file-import>
  </section>
  
  <section class="section-card">
    <app-combined-data></app-combined-data>
  </section>

  <section class="section-card">
    <app-preview-pane></app-preview-pane>
  </section>

  <section class="section-card">
    <app-file-actions></app-file-actions>
  </section>

  <footer class="app-footer">
    <p>Rogelio Ortiz © 2024 Movie Title Maker</p>
  </footer>
</div>