.btn-export {
    background: #4caf50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-export:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
}

.m5 {
    margin-left: 50px;
}